---
root: true

extends: airbnb-base

parserOptions:
  ecmaVersion: 8

rules:
  no-console: off
  strict: off
  max-len: [error, {code: 120, tabWidth: 2, ignoreUrls: true}]
  indent: [error, 2, {"FunctionDeclaration": {"parameters": "first"}}]
  no-underscore-dangle: off
  arrow-parens: [error, "as-needed"]

env:
  es6: true
  node: true
